{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>boostrap</title>
    <link rel="stylesheet" href="{% static 'css/boostrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/boostrap-grid.css.map' %}">
    <link rel="stylesheet" href="{% static 'css/boostrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/boostrap-grid.min.css.map' %}">
    <link rel="stylesheet" href="{% static 'css/boostrap-reboot.css' %}">
    <link rel="stylesheet" href="{% static 'css/boostrap-reboot.css.map' %}">
    <link rel="stylesheet" href="{% static 'css/boostrap-grid.min.css.map' %}">
    <link rel="stylesheet" href="{% static 'css/boostrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/boostrap.css.map ' %}">
    <link rel="stylesheet" href="{% static 'css/boostrap.min.css.' %}">
    <link rel="stylesheet" href="{% static 'css/boostrap.min.css.map' %}">
    
</head>
<body>
    <center>
    <h1>Viratkohil</h1>

    <img src="{% static 'images/kohli.jpg' %}" alt="None" srcset="" height="300px" width="300px">
    <p>Virat Kohli is an Indian international cricketer</p>
    
    <button type="button" class="btn btn-primary">primary</button>
    </center>

    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>    
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>